# See http://help.github.com/ignore-files/ for more about ignoring files.
/server/config/default*
/client/src/environments/environment.*
/banco/ensaio*
*.sh
bash.sh
*.tgz
.vscode

# compiled output
/dist
/tmp
client/dist

node_modules
client/node_modules
server/node_modules

# dependencies
/web/node_modules
/admin/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
