<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="breadcrumb" icon="pencil-square-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
             [sortable]="false">
    <!-- widget options:
    usage: <sa-widget [editbutton]="false">

    [colorbutton]="false"
    [editbutton]="false"
    [togglebutton]="false"
    [deletebutton]="false"
    [fullscreenbutton]="false"
    [custombutton]="false"
    [collapsed]="true"
    [sortable]="false"

    -->
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
      <h2>{{ titulo }} </h2>
    </header>

    <!-- widget div-->
    <div>

      <!-- widget content -->
      <div class="widget-body no-padding">
        <form class="form-horizontal" #f="ngForm" (onSubmit)="onSubmit(f)"
                  novalidate="novalidate" saBootstrapValidator
                  data-bv-message="O valor é inválido"
                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                  <fieldset style="margin: 15px">
                      <legend>&nbsp;&nbsp;[{{ tituloForm }}] </legend>
                      <div class="form-group" >
                        <div>
                          <popover-content #titulo
                             title="Descrição do grupo"
                             [closeOnClickOutside]="true">
                                  Descrição do grupo do marcadores a serem utilizados para os metadados de indicadores.
                          </popover-content>
                          <label class="col-md-2 control-label">Descrição do grupo <i class="fa fa-question-circle" popoverPlacement="right" popoverOnHover="true" [popover]="titulo"></i></label>
                          <div class="col-md-5">
                            <input id="descricao" class="form-control"
                              placeholder="Descrição do grupo de marcador" type="text"
                              [(ngModel)]="novatagcategoria.descricao" name="descricao"
                              required maxlength="200"
                              data-bv-notempty-message="A descrição do grupo de marcadores é obrigatória">
                          </div>
                        </div>
                      </div>
                  </fieldset>
                  <fieldset style="margin: 15px">
                      <legend>&nbsp;&nbsp;Marcadores</legend>
                      <div class="form-group">
                        <label class="col-md-2 control-label">Marcador Descrição</label>
                        <div class="col-md-8">
                          <div class="input-group">
                          <input class="form-control"
                          placeholder="Marcador"
                          type="text" id="item" name="item">
                          <div class="input-group-btn">
                          <button class="btn btn-primary" type="button" (click)="adicionaMarcador()">
                            <i class="fa fa-plus"></i>Adiciona Item
                          </button>
                          </div>
                          </div>
                          <p class="note"><strong>Nota:</strong> discrimine os marcadores que pertencem ao grupo.</p>
                        </div>
                      </div>
                      <div class="table-responsive col-md-10">
                        <table class="table table-hover">
                          <thead>
                          <tr>
                            <th>#</th>
                            <th>Marcador</th>
                            <th>&nbsp;</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let itemCat of novatagcategoria.Tags; let i=index">
                            <ng-template [ngIf]="itemCat && !itemCat.deleted">
                              <td>{{ i+1 }}</td>
                              <td>{{ itemCat.descricao }}</td>
                              <td>
                                <a class="btn btn-primary btn-sm icon white"
                                  (click)="editaItemTagCategoria(i)"
                                  href="javascript:void(0);" title="altera item"><i class="fa fa-pencil "></i></a>
                                <a class="btn btn-danger btn-sm icon white"
                                    (click)="apagaItemTagCategoria(i)"
                                    href="javascript:void(0);" title="apaga item"><i class="fa fa-times "></i></a>
                              </td>
                            </ng-template>
                          </tr>
                          </tbody>
                        </table>
                      </div>

                  </fieldset>
                  <div class="form-actions">
                    <div class="row">
                      <div class="col-md-12">
                        <button class="btn btn-default" type='button' (click)="newCategoriaTag(f)">
                          <i class="fa fa-plus"></i>Novo
                        </button>
                        <button class="btn btn-primary" type="submit">
                          <i class="fa fa-save"></i>Grava
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
      </div>
      <!-- end widget content -->

    </div>
    <!-- end widget div -->
  </sa-widget>
</div>
<div bsModal #grupoTagModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #f1="ngForm" >
        <div class="modal-header">
          <button type="button" class="close" (click)="grupoTagModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ tituloModal }}</h4>
        </div>
        <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input name="descricao" id="descricao" type="text" class="form-control" [(ngModel)]="editTagCategoria.descricao" placeholder="Nome" maxlength="100" required>
            </div>
          </div>
        </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="grupoTagModal.hide()">
          <i class="fa fa-ban"></i> Fecha
        </button>
        <button type="butten" class="btn btn-primary" (click)="atualizaItemTagCategoria()">
          <i class="fa fa-save"></i> Grava
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
